@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200;300;400&family=Oswald:wght@400;500&family=Ubuntu:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


@media only screen and (min-width:1000px)  {

.navbar {
    background-color: #d3d3d3;
    padding: 20px;
    display: flex;
}

.navbar li {
    list-style: none;
    font-family: Glory;
    display: inline-block; 
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
}

.list {
    padding-left: 1250px;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.navbar li a:hover {
    color: crimson;
}

.portfolio {
    padding-top: 15px;
    font-family: Ubuntu;
    font-size: 20px;
    padding-bottom: 7px;
}

.home {
    background-image: url(./image/bg\ 2.jpg);
    height: 373px;
    width: auto;
    padding: 250px;
    font-size: 30px;
    font-family: Oswald;
    color: crimson;
}

h2 {
    font-size: 60px;
    font-weight: 500;
}

div {
    padding: 5px;
    font-size: 40px;
    width: fit-content;
}

.name {
    width: fit-content;
}

.about {
    padding: 20px;   
    display: flex;
    justify-content: center;
    font-family: Ubuntu;
    text-align: center;
    font-size: 50px;
    background-color: #d3d3d3;
}

.me {
    background-image: url(./image/bg\ 2.jpg);
    height: 373px;
    width: auto;
    padding: 250px; 
    font-size: 30px;
    font-family: Oswald;
    color: crimson;
    display: flex;
    justify-content: space-between;
}

.my image {
    margin: 10px;
    padding: 20px;
}

.para {
    font-size: 30px;
    padding-left: 30px;
}

.skills {
    padding: 20px;  
    font-family: Ubuntu;
    text-align: center;
    font-size: 50px;
    background-color: #d3d3d3;
}

.web {
    padding: 20px;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    background-color: cadetblue;
    margin: 50px;
    text-align: center;
    font-family: Oswald;
}

p {
    font-size: 25px;
    padding: 15px;
    
}

.cpro {
    padding: 20px;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    background-color: cadetblue;
    margin: 50px;
    text-align: center;
    font-family: Oswald;
}

.flex-2 {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    background-image: url(./image/bg\ 2.jpg);
    width: auto;
    height: 775px;
}

.cpro:hover, .web:hover {
    background-color: #A540F7;
}

.twitter, .instagram, .linkedin {
    height: 100px;
    width: 100px;
}

.logos li {
    display: inline-block;
}

.contact {
    width: 100%;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

}


@media only screen and (max-width:768px) {
    .contact {
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: center;
        background-color: #dfc9f1;
    }

    .contact li {
        list-style: none;
        display: inline-block;
    }

    .navbar li a {
        display: none;
    }

    .home {
        background-image: url(./image/bg\ 2.jpg);
        height: 300px;
        width: auto;
        padding: 100px;
        font-size: 30px;
        font-family: Oswald;
        color: crimson;
    }

    .portfolio {
        font-family: Ubuntu;
        font-size: 20px;
        background-color: #d1a7f3;
    }

    .navbar {
        background-color: #d1a7f3;
        list-style: none;
        text-align: center;
    }

    h1 {
        font-size: 60px;
        padding-top: 60px;
    }

    .about {
        padding: 20px;   
        display: flex;
        justify-content: center;
        font-family: Ubuntu;
        text-align: center;
        font-size: 50px;
        background-color: #dfc9f1;
    }

    .me {
        background-image: url(./image/bg\ 2.jpg);
        height: 373px;
        width: auto;
        padding: 35px; 
        font-size: 17px;
        font-family: Oswald;
        color: crimson;
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
}

    .para {
        padding-left: 10px;
    }

    .my image {
        width: 40px;
        margin: 10px;
        padding: 20px;
    }

    .skills {
        padding: 20px;  
        font-family: Ubuntu;
        text-align: center;
        font-size: 50px;
        background-color: #dfc9f1;
    }

    .flex-2 {
        padding-top: 100px;
        display: flex;
        justify-content: space-around;
        background-image: url(./image/bg\ 2.jpg);
        width: auto;
        height: 775px;
    }

    .web {
        padding: 20px;
        width: 400px;
        height: 300px;
        border-radius: 20px;
        background-color: cadetblue;
        margin: 50px;
        text-align: center;
        font-family: Oswald;
    }

    .cpro {
        padding: 20px;
        width: 400px;
        height: 300px;
        border-radius: 20px;
        background-color: cadetblue;
        margin: 50px;
        text-align: center;
        font-family: Oswald;
    }
}